<!DOCTYPE html>
<html lang="es">
<head>

  <!-- Basic Page Needs -->

  <meta charset="utf-8">
  <title>Finca El Girasol</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas  -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT  -->

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/custom.css">

  <!-- Favicon -->

  <link rel="icon" type="image/png" href="/static/images/sunflower.png">

  <!-- JavaScript -->

  <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/fresco/fresco.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/fresco/fresco.css"/>

</head>
<body>

<!-- Home Page Layout -->

<div class="container">

  <!-- Starting the row that will contain all content on website  -->
  <div class="row">

    <!-- Left wide column for the main content -->
    <div class="eight columns">
      <div class="content">

        <!-- Main Menu for navigation (TOP) -->
        <div class="menu">
          <ul>
            <li class="hide-nav-in-small"><a>Inicio</a></li>
            <li class="hide-nav-in-small"><a>Senderos</a></li>
            <li><h1>Finca El Girasol <div class="icon sunflower inline"></div></h1></li>
            <li class="hide-nav-in-small"><a>Galeria</a></li>
            <li class="hide-nav-in-small"><a>Contacto</a></li>
          </ul>
        </div>

        <div class="nav hide-in-big">
          <div class="inline lang"><a>English</a></div>
          <div class="inline lang"><a>Español</a></div>
        </div>

        <!-- Words of introduction to the website -->
        <div class="bg-white padding-and-margin">
          <h4>Bienvenidos a Finca Agroecológica El Girasol</h4>
          <p>
          Les ofrecemos la mejor opcion en cuanto a turismo rural. Nuestra finca esta diseñada con 16 estaciones con alto contenido en educacion ambiental.
          Nuestro recorrido te llevara a conocer toda "La Meseta de los pueblos", en un solo lugar.
          Con oportunidades unicas para interactuar con la naturaleza. Dejar de ser un espectador y convertirse en un protagonista.
          Nuestro servicio es especializado.
          </p>
        </div>

        <!-- Example of a gallery -->
        <div class="bg-white padding-and-margin">
          <div class="gallery">
            <div class="gallery-item responsive-img inline">
              <a href="/static/images/casa.jpg" class="fresco"><img src="/static/images/casa.jpg" alt=""></a>
              <div class="gallery-desc">A beautiful House</div>
            </div>
            <div class="gallery-item responsive-img inline">
              <a href="/static/images/mariposa.jpg" class="fresco"><img src="/static/images/mariposa.jpg" /></a>
              <div class="gallery-desc">A beautiful House</div>
            </div>
            <div class="gallery-item responsive-img inline">
              <a href="/static/images/frutas.jpg" class="fresco"><img src="/static/images/frutas.jpg" /></a>
              <div class="gallery-desc">A beautiful House</div>
            </div>
            <div class="gallery-item responsive-img inline">
              <a href="/static/images/casa.jpg" class="fresco"><img src="/static/images/casa.jpg" /></a>
              <div class="gallery-desc">A beautiful House</div>
            </div>
          </div>
        </div>

        <!-- Slider -->
        <div class="bg-white">
          <div id="slidy-container">
            <figure id="slidy">
              <img src="/static/images/casa.jpg" alt="Casa" data-caption="Nuestra casa de huespedes">
              <img src="/static/images/mariposa.jpg" alt="Animales" data-caption="Nuestros invitados de siempre" >
              <img src="/static/images/frutas.jpg" alt="Frutas" data-caption="Nuestras cosechas">
            </figure>
          </div>
        </div>

        <!-- Quote -->
        <div class="bg-white padding-and-margin">
          <blockquote>La meseta de los pueblos en una sola finca.</blockquote>
          <div class="right"><span class="author">― Carmenza Rodriguez</span></div>
        </div>

      <!-- </div> closing the "content" div. -->
      </div>
    </div>

    <!-- Start Right Navigation column -->
    <div class="four columns">
      <div class="nav">
        <div class="inline lang"><a>English</a></div>
        <div class="inline lang"><a>Español</a></div>
      </div>

      <div class="nav">
        <div class="subcategory">
          <h3><a>Senderos</a></h3>
          <a><div class="subcategory-content" style="background:url(/static/images/walking-trails.jpg) no-repeat;"></div></a>
        </div>
        <div class="subcategory">
          <h3><a>Galeria de fotos</a></h3>
          <a><div class="subcategory-content" style="background:url(/static/images/gallery.jpg) no-repeat;"></div></a>
        </div>
        <div class="subcategory">
          <h3><a>Nuestras habitaciones</a></h3>
          <a><div class="subcategory-content" style="background:url(/static/images/habitaciones.jpg) no-repeat;"></div></a>
        </div>
        <div class="subcategory">
          <h3><a>¿Como encontrarnos?</a></h3>
          <a><div class="subcategory-content" style="background:url(/static/images/google-maps.jpg) no-repeat;"></div></a>
        </div>
        <div class="subcategory">
          <h3>Contacto</h3>
          <div class="inline"><a><div class="bigger-icon email"></div></a></div>
          <div class="inline"><a><div class="bigger-icon facebook"></div></a></div>
          <div class="inline"><a><div class="bigger-icon instagram"></div></a></div>
        </div>
      </div>
    </div>
    <!-- End right navigation column -->

  <!-- </div> closing the "Row" element -->
  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="row">
      <div class="three columns">
        <ul>
          <li><a>Inicio</a></li>
          <li><a>Senderos</a></li>
          <li><a>Galeria de fotos</a></li>
          <li><a>Nuestras habitaciones</a></li>
        </ul>
      </div>
      <div class="three columns">
        <ul>
          <li><a>Otras actividades</a></li>
          <li><a>Fincas amigas</a></li>
          <li><a>Destinos recomendados</a></li>
        </ul>
      </div>

      <!-- Contact Information -->
      <div class="three columns">
        <div class="contact-info">
          <p>Dirección: PICUS, 850mts al oeste. San Marcos, Carazo.</p>
          <p>Teléfono: +505 8372-4043</p>
        </div>
      </div>
      <div class="three columns">
        <img src="/static/images/logo_sanmarcos.gif" class="u-max-full-width" />
      </div>
    </div>
  </div>
  <!-- End Footer -->

</div>

<!-- Javascript for slider -->
<script type="text/javascript" src="/static/js/slider.js"></script>

<!-- End Document -->
</body>
</html>
