{% extends "girasol/base.html" %}

{% load i18n %}

{% block title %}{{ concept.title }}{% endblock %}

{% block description %}{{ concept.description }}{% endblock %}

{% block maincontent %}

  <div class="bg-white padding-and-margin">

    <h4>{{ concept.title }}</h4>

    <p>{{ concept.content|linebreaks }}</p>

    {% if concept.links %}

      {% trans "Te invitamos a ver nuestra página de" %}:

      {% for link in concept.links.all %}

        <a class="button" href="{% url 'post-view' link.slug %}">{{ link.title }}</a>

      {% endfor %}

    {% endif %}

  </div>

{% endblock %}
